@model IEnumerable<Entity.Concrete.Blog>
@{
    ViewBag.Title = "BlogList";
    Layout = "~/Views/Shared/_AuthorLayout.cshtml";
}

<h2>Blog Listesi</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Başlık</th>
        <th>Yazar</th>
        <th>Kategori</th>
        <th>Tarih</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.BlogId</td>
            <td>@item.BlogTitle</td>
            <td>@item.Author.AuthorName</td>
            <td>@item.Category.CategoryName</td>
            <td>@item.BlogDate.ToShortDateString()</td>
            <td><a href="/User/deleteBlog/@item.BlogId" class="btn btn-danger">Sil</a></td>
            <td><a href="/User/updateBlog/@item.BlogId" class="btn btn-success">Güncelle</a></td>
            <td><a href="/Blog/BlogDetails/@item.BlogId" class="btn btn-warning">Detaylar</a></td>
            <td><a href="/Blog/GetCommentByBlog/@item.BlogId" class="btn btn-dark">Yorumlar</a></td>
        </tr>
    }

</table>
<a href="/User/AddBlog/" class="btn btn-primary">Yeni BLog Ekle</a>


