@model Entity.Concrete.Author
@{
    ViewBag.Title = "updateAuthor";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form class="form-group" method="post">
    @Html.Label("Yazar Id")
    @Html.TextBoxFor(x => x.AuthorId, new { @class = "form-control" })
    <br />
    @Html.Label("Yazar Ad Soyad")
    @Html.TextBoxFor(x => x.AuthorName, new { @class = "form-control" })
    <br />
    @Html.Label("Resim Yolu")
    @Html.TextBoxFor(x => x.AuthorImage, new { @class = "form-control" })
    <br />
    @Html.Label("Yazar Hakkında")
    @Html.TextBoxFor(x => x.AuthorAbout, new { @class = "form-control" })
    <br />
    @Html.Label("Yazar Başlığı")
    @Html.TextBoxFor(x => x.AuthorTitle, new { @class = "form-control" })
    <br />
    @Html.Label("Mail")
    @Html.TextBoxFor(x => x.AuthorMail, new { @class = "form-control" })
    <br />
    @Html.Label("Telefon")
    @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Kaydet</button>

</form>

